/data
arduino_code/.gitignore

# Python
*.pyc
__pycache__/
.venv/

# Django
db.sqlite3
media/
static/
local_settings.py

# OS-specific
.DS_Store
Thumbs.db

# IDE-specific
.idea/
.vscode/

# Sensitive information
.env